<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <commands>
        <command class="TheliaStudio\Command\ModuleGenerateEverythingCommand" />
        <command class="TheliaStudio\Command\ModuleGenerateConfigFormCommand" />
    </commands>

    <services>
        <service id="action.thelia_studio.generate_everything" class="TheliaStudio\Action\GenerateEverything" scope="request">
            <argument type="service" id="kernel" />

            <tag name="kernel.event_subscriber" />
        </service>

        <service id="thelia_studio.generator.configuration" class="TheliaStudio\Generator\ConfigurationGenerator">
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="thelia_studio.generator.module_php" class="TheliaStudio\Generator\ModulePhpGenerator" scope="request">
            <argument type="service" id="thelia.parser" />

            <tag name="kernel.event_subscriber" />
        </service>

        <service id="thelia_studio.generator.php" class="TheliaStudio\Generator\PhpGenerator" scope="request">
            <argument type="service" id="thelia.parser" />

            <tag name="kernel.event_subscriber" />
        </service>

        <service id="thelia_studio.generator.run_propel" class="TheliaStudio\Generator\PropelLauncherGenerator">
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="thelia_studio.generator.raw_copy" class="TheliaStudio\Generator\RawCopyGenerator">
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="thelia_studio.generator.routing" class="TheliaStudio\Generator\RoutingGenerator">
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="thelia_studio.generator.rule" class="TheliaStudio\Generator\RuleGenerator">
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="thelia_studio.generator.smarty" class="TheliaStudio\Generator\SmartyGenerator" scope="request">
            <argument type="service" id="thelia.parser" />

            <tag name="kernel.event_subscriber" />
        </service>

        <service id="thelia_studio.generator.config_form" class="TheliaStudio\Generator\ConfigFormGenerator" scope="request">
            <argument type="service" id="thelia.parser" />

            <tag name="kernel.event_subscriber" />
        </service>
    </services>
</config>
