{extends file="admin-layout.tpl"}
{default_translation_domain domain='[{$moduleCode|lower}].bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='[{$table->getTableName()}]'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}update{/block}
{block name="check-module"}[{$moduleCode}]{/block}

{block name="main-content"}

    {form name="[{$table->getRawTableName()}].update"}
        <div id="wrapper" class="container">

            {if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if}

            <div class="general-block-decorator">
                <div class="title title-without-tabs">
                    {intl l="[{$table->getTableName()}] edit" d="[{$moduleCode|lower}].bo.default"}
                </div>

                <div class="form-container">
                    <form method="POST" action="{$current_url}" {form_enctype} class="clearfix" >

                        {include "includes/inner-form-toolbar.html"
                        close_url = {url path="/admin/module/[{$moduleCode}]/[{$table->getRawTableName()}]"}
                        }

                        {form_field field="id"}
                        {assign "[{$table->getRawTableName()}]_id" $value}
                            <input type="hidden" name="{$name}" value="{$value}"/>
                        {/form_field}
[{if $table->hasI18nBehavior()}]
                        {form_field field="locale"}
                            <input type="hidden" name="{$name}" value="{$edit_language_locale}"/>
                        {/form_field}
[{/if}]
                        {form_field field="success_url"}
                            <input type="hidden" name="{$name}" value="{url path='/admin/module/[{$moduleCode}]'}/[{$table->getRawTableName()}]"/>
                        {/form_field}
                        {form_hidden_fields}

                        {loop name="[{$table->getRawTableName()}]_update" type="[{$table->getLoopType()}]" backend_context="yes" id=$[{$table->getRawTableName()}]_id lang=$edit_language_id}
                            <div class="row">
                                <div class="col-md-12">
[{foreach from=$table->getColumns() item=column}]
[{if $column->getName() != 'id' && $column->getName() != 'position' && $column->getName() != 'visible'}]
                                    {form_field field="[{$column->getName()}]"}
                                        <div class="form-group">
                                            <label class="control-label" for="{$label_attr.for}">
                                                {$label}
                                                {if $required}<span class="required">*</span>{/if}
                                            </label>

                                            {form_error field="[{$column->getName()}]"}{$message}{/form_error}

[{if $column->getFormType() == 'checkbox'}]
                                                <input type="checkbox" class="form-control" name="{$name}" id="{$label_attr.for}" {if $[{$column->getNameAsSQL()}]}checked{/if} placeholder="{intl l='The [{$table->getTableName()}] [{$column->getName()}]'}" />
[{elseif $column->getFormType() == 'text'}]
                                                <input type="text" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$[{$column->getNameAsSQL()}]}" placeholder="{intl l='The [{$table->getTableName()}] [{$column->getName()}]'}" />
[{elseif $column->getFormType() == 'textarea'}]
                                                <textarea class="form-control" name="{$name}" id="{$label_attr.for}" placeholder="{intl l='The [{$table->getTableName()}] [{$column->getName()}]'}">{$[{$column->getNameAsSQL()}]}</textarea>
[{elseif    $column->getFormType() == 'integer'}]
                                                <input type="number" class="form-control" name="{$name}" id="{$label_attr.for}" value="{$[{$column->getNameAsSQL()}]}" placeholder="{intl l='The [{$table->getTableName()}] [{$column->getName()}]'}" />
[{elseif $column->getFormType() == 'number'}]
                                                <input type="number" class="form-control" name="{$name}" id="{$label_attr.for}" step="0.01" value="{$[{$column->getNameAsSQL()}]}" placeholder="{intl l='The [{$table->getTableName()}] [{$column->getName()}]'}" />
[{elseif $column->getFormType() == 'datetime' or $column->getFormType() == 'date' or $column->getFormType() == 'time'}]
[{assign include_datetime 1}]
                                                <div class='input-group date'>
                                                    <input type="text" class="form-control do-picker-[{$column->getFormType()}]" name="{$name}" id="{$label_attr.for}" value="{$[{$column->getNameAsSQL()}]}" placeholder="{intl l='The [{$table->getTableName()}] [{$column->getName()}]'}" />
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
[{/if}]
                                        </div>
                                    {/form_field}
[{/if}]
[{/foreach}]

                                    {include "includes/inner-form-toolbar.html"
                                        hide_flags = true
                                        close_url = {url path="/admin/module/[{$moduleCode}]/[{$table->getRawTableName()}]"}
                                    }

[{if $table->hasTimestampableBehavior()}]
                                    <small>
                                        {intl
                                            l="[{$table->getTableName()}] created on %created_at. Last modification: %updated_at"
                                            created_at={format_date date=$CREATE_DATE}
                                            updated_at={format_date date=$UPDATE_DATE}
                                            d="[{$moduleCode|lower}].bo.default"
                                        }
                                    </small>
[{/if}]
                                </div>
                            </div>
                        {/loop}

                    </form>
                </div>
            </div>
        </div>
    {/form}
{/block}

{block name="javascript-initialization"}
[{if $include_datetime}]
    {javascripts file='assets/js/moment-with-locales.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    {javascripts file='assets/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script>
        $('.do-picker-datetime').datetimepicker({
            lang: "{lang attr="code"}",
            useSeconds: false
        });

        $('.do-picker-date').datetimepicker({
            pickTime: false,
            lang: "{lang attr="code"}",
            useSeconds: false
        });

        $('.do-picker-time').datetimepicker({
            pickDate: false,
            lang: "{lang attr="code"}",
            useSeconds: false
        });
    </script>
[{/if}]
{/block}
